* {
    font-family: Arial, sans-serif;
}

.root {
    -fx-background-image: url('../img/back2.jpg');
    -fx-background-size: cover;
    -fx-background-color: papayawhip;
}

.vbox {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.2, 0, 0);
    -fx-alignment: center;
    -fx-padding: 20px 20px 10px 20px;
}

.menu {

}

.btn-sm{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.vbox-padding {
    -fx-padding: 30px 30px 15px 30px;
}

.grid {
    -fx-background-color: white;
}

.hbox {
    -fx-padding: 15px;
}

.white-text {
    -fx-text-fill: white;
}

/*.btn-sm:hover {*/
/*    -fx-background-color: lightsalmon;*/
/*    -fx-border-color: black;*/
/*    -fx-text-fill: white;*/
/*}*/


.btn-sm:hover {
    -fx-background-color: darkslategray;
    -fx-border-color: black;
    -fx-text-fill: white;
}